# Disable directory listing
Options -Indexes

# Deny access to sensitive folders
<Directory "storage">
    Require all denied
</Directory>
<Directory "bootstrap">
    Require all denied
</Directory>

# Deny access to .env
<Files .env>
    Require all denied
</Files>

# Enable URL rewriting for Laravel
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to index.php if not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
